<form name="contact-indxone" data-netlify="true" netlify-honeypot="bot_field" method="POST" hidden>
  <input type="hidden" name="form-name" value="contact-indxone">
  <input type="hidden" name="submission-id">
  <input type="hidden" name="nom">
  <input type="hidden" name="prenom">
  <input type="hidden" name="email">
  <input type="hidden" name="sujet">
  <input type="hidden" name="message">
  <input type="hidden" name="budget">
  <input type="hidden" name="delai">
  <input type="hidden" name="consent">
  <input type="hidden" name="bot_field">
  <button type="submit">Envoyer</button>
</form>
<form name="contact-indxone-en" data-netlify="true" netlify-honeypot="bot_field" method="POST" hidden>
  <input type="hidden" name="form-name" value="contact-indxone-en">
  <input type="hidden" name="submission-id">
  <input type="hidden" name="nom">
  <input type="hidden" name="prenom">
  <input type="hidden" name="email">
  <input type="hidden" name="sujet">
  <input type="hidden" name="message">
  <input type="hidden" name="budget">
  <input type="hidden" name="delai">
  <input type="hidden" name="consent">
  <input type="hidden" name="bot_field">
  <button type="submit">Envoyer</button>
</form>
